<div class="ui secondary  menu">
  <a class="item">
    Email
  </a>
  <a href="/admin-add-parameter" class="item">
    Add Parameter
  </a>
  <a href="/get-parameter" class="item">
    Edit/View Parameters
  </a>
  <a href="/add-notice" class="item">
    Add Notice
  </a>
  <a class="item">
    Search College
  </a>
  <a class="item">
    Search Student
  </a>
  <div class="right menu">
    <a href="/logout" class="ui item">
      Logout
    </a>
  </div>
</div>
