<!DOCTYPE html>
<html>
<head>
  <title>ADMIN-DASHBOARD</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
</head>
<body>
<img class="ui small circular image" src=<%= data[0]["image"]; %>>
<% include partials/admin-navbar.ejs %>
<center>
	<form class="ui form" method="POST" action="/add-notice">
	<fieldset style="width:400px">
	<legend>ADD NOTICE</legend>
  <div class="field">
    <label>NOTICE</label>
    <textarea name="notice"></textarea>
  </div>
  <button class="ui teal animated button" type="submit">
  	<span class="visible content">ADD NOTICE</span>
  	<span class="hidden content"><i class="right arrow icon"></i></span>
  </button><br>
  </fieldset>
</form>
</center>
</body>
</html>
