<!DOCTYPE html>
<html>
<head>
  <title>PARAMETER</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
</head>
<body>
<img class="ui small circular image" src=<%= mydata[0]["image"]; %>>
<% include partials/admin-navbar.ejs %>
<center>
  <table style="width:600px" class="ui celled table">
    <thead>
      <tr><th>Name</th>
      <th>Default Weight</th>
      <th>Default Index</th>
    </tr></thead>
    <tbody>
<% for(var i=0;i<data[0].Factors.length;i++){ %>
  <tr>
    <td>
      <div class="ui ribbon label"><%= data[0].Factors[i]["name"]; %></div>
    </td>
    <td><%= data[0].Factors[i]["DefaultWeight"]; %></td>
    <td><%= data[0].Factors[i]["DefaultIndex"]; %></td>
  </tr>
<% } %>
</tbody></table>
</center>
</body>
</html>
